html, body {
    height: 100%;
    margin: 0;
}

.logo-image {
    border-radius: 50%;
}

.header .logo-image {
  border-radius: 50%;
  float: left;
  width: 100px;
  height: 100px;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.header-image {
    position:relative;
    opacity: 0.70;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}