html, body {
    height: 100%;
    margin: 0;
    position: relative;
    overflow-y: scroll;
}

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.responsive-image {
    border-radius: 50%;
    float: left;
    opacity: 0.8;

}


.navbar-expand-lg .navbar-light {
    position: fixed;
    border: white;
    background-color: white;
    
}

.dropdown-menu .dropdown-item {
    text-align: right;
    border: none;
    background-color: transparent;

}


main {
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.header-image {
    background: url('../images/header-image.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 56.5%; /* = ( 600 / 1600 ) x 100 used to resize image when viewing on smaller devices (code from: https://stackoverflow.com/questions/43214466/resizing-background-image-with-bootstrap)*/
    margin-top: -80px;

}

 section {
    flex-basis: 100%;
    height: 300px;
    margin-bottom: 0.5rem;
  }
  

  @media (min-width: 600px) {
    main {
      flex-wrap: nowrap;
    }

    section {
      flex-basis: 33%;
    }
  }



body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../images/grazing.jpeg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../images/grazing2.jpeg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../images/graze3.jpeg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}