html, body {
    height: 100%;
    margin: 0;
    position: relative;
    overflow-y: scroll;
}

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.responsive-image {
    border-radius: 50%;
    float: left;
    opacity: 0.8;

}


.dropdown-menu a .dropdown-item {
    text-align: right;
    background-color: transparent;



}

.caption span .border {
    background-color: transparent;
}


main {
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  

  @media (min-width: 600px) {
    main {
      flex-wrap: nowrap;
    }

    section {
      flex-basis: 33%;
    }
  }




.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../images/grazing.jpeg");
  min-height: 100%;
}
.navbar-expand-lg .navbar-light {
    position: fixed;
    border: white;
    background-color: white;
    
}

.bgimg-2 {
  background-image: url("../images/grazing2.jpeg");
  min-height: 100%;
}

.bgimg-3 {
  background-image: url("../images/graze3.jpeg");
  min-height: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}


/* photography */
* {
margin: 0;
padding: 0;
list-style-type:none;
}

.thumb {
	height:140px;
	width:210px;
	top:136px;
	left:12px;
	position:relative;
	background-size:contain;
	box-shadow:-12px 0 0 12px #000;
}


a.prev,a.next {
	height:91px;
	position:absolute;
	width:43px;
	top:50%;
	margin-top:-30px;
	opacity:0.6;
	text-indent:-99999px;
	cursor:pointer;
	-moz-animation-delay: ease-out;
}
a.prev:hover,a.next:hover {
	opacity:1;
}
.prev {
	left:0;
	background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -200px 25px;
}
.next {
	right:0;
	background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -167px 25px;
}
.slider {
	height:100vh;
	position: relative;
}
.slide {
	position:absolute;
	height:100%;
	width:100%;
}
.slider .slide:target {
	z-index: 100;
}
img {
	max-width:100%;
	width:100%;
	position:fixed;
	left:0;
}


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}